*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    transition:  opacity 0.3s linear,transform 0.5s linear;
}
:root {
    --primary-color: #4daf54;
  }
body{
    height: 100vh;
    background: linear-gradient( #8d1c87, #3d8880);
    
}
.card{
    &:hover 
    {     
        img{
        transform: translateY(-50%) rotate(-30deg)  ;
        transition: ease-in-out 0.5s;
        }
        .card__foot{
            opacity: 1 ;
           // visibility: visible;
            transform:translateY(-40%);
            transition: 0.5s;
        }
}
    width: 320px;
    min-height: 400px;
    background-color: #1d296b;
    margin:120px auto;
    padding: 20px 20px;
    border-radius: 15px;
    &__heart{
      display:flex;
        justify-content: space-between;
        font-size: 1.5rem;
        color:#fff;
        &:hover{
            cursor: pointer;
        }
    }
    &__img{
        width:90%;
        img{ 
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        text-align: center;
         font-weight: bold;;
        font-size: 1.5rem;
        color:var(--primary-color)
    }
    &__price{
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        margin-top: 10px;
        color:#fff;

    }
    &__size{
        display: flex;
        align-items: center;
        color: #fff;
        span {
            padding :5px 10px;
            background-color: #fff;
            border-radius: 5px;
            margin: 7px;
            font-weight: 600;
            color: #000;
        }
        h3{
            padding-right: 10px;
        }
        
    }
    &__color{
        color:#fff;
        display:flex;
        align-items: center;
        margin-top: 5px;
        &--green{
            background-color: green;
            width: 25px;
           height: 25px;
           border-radius: 50%;
           margin: 7px;
          
        }
        &--blue{
            background-color: blue;
            width: 25px;
           height: 25px;
           margin: 7px;
           border-radius: 50%;
        }
        &--red{
            background-color: red;
            width: 25px;
           height: 25px;
           border-radius: 50%;
           margin: 7px;
        }
        &--active{
            border:2px solid #fff;
        }
}

        &__action{
            margin-top: 10px;
            button{
                border-radius: 5px;
                outline: none;
                border:none;
                padding: 10px 15px;
                margin:0 10px;
                color:#fff;
                font-weight: 600;
                background-color: var(--primary-color);
                box-shadow: 3px 3px 0px 0 #000;
                cursor: pointer;
                &:hover{
                    opacity: 0.9;
                }
                &:active {
                    position: relative;
                    top:1px;

                    box-shadow: 3px 1px 0px 0 #000;
                    
                }
            }
        }
        &__foot{
            position: absolute;
            transform: translateY(70px);
        //    visibility: hidden;
            opacity: 0;

        }
}

.card:hover .card__title{
    transform: translate(-50px,-60px);
    transition:  0.5s;

}
.card:hover .card__price{
    transform: translate(-120px,-60px);
    transition: 0.5s;
}
.card__size-item.active{
    background-color:var(--primary-color);
}